.bg-cont {
  background-color: #3367d6;
  height: 50px;
  padding: 20px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.history-img {
  height: 30px;
}
@media screen and (max-width: 767px) {
  .history-img {
    height: 20px;
  }
}
.cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}
.img-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.search-img {
  height: 30px;
  width: 30px;
  border: 1px solid #ffffff;
  border-radius: 03px;
  background-color: #2850a7;
  color: #ffffff;
  padding: 3px;
}
.input-ele {
  height: 30px;
  width: 300px;
  background-color: #2850a7;
  border-radius: 03px;
  border: 1px solid #ffffff;
  padding: 10px;
  outline: none;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .input-ele {
    width: 200px;
  }
}
.u-list {
  background-color: #ffffff;
  padding: 15px;
  list-style-type: none;
}
.no-history {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  color: #475569;
  margin-top: 20%;
  text-align: center;
}
